// .dropdown{
//     display: none;
// }

.dropdown-menu a {
    white-space:normal;
}
.dropdown-menu > li{position:relative;}

.dropdown-menu > li > i{position:absolute;left:0;top:3px;}

.dropdown, .dropdown-menu{
    visibility: visible;
    opacity: 100;
}

.dropdown-menu.dropdown-primary {
    background-color: #8bb5b1;
}