<div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle"
                src="assets/img/mike.jpg"
              />

              <h4 class="title">Transactions</h4>
            </div>
            <div class="card-body">
              <tabset class="nav-tabs-danger justify-content-center tab-subcategories">
                <tab heading="Wallet">
                  <div class="table-responsive">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header">COIN</th>
                          <th class="header">AMOUNT</th>
                          <th class="header">VALUE</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>BTC</td>
                          <td>7.342</td>
                          <td>48,870.75 USD</td>
                        </tr>
                        <tr>
                          <td>ETH</td>
                          <td>30.737</td>
                          <td>64,53.30 USD</td>
                        </tr>
                        <tr>
                          <td>XRP</td>
                          <td>19.242</td>
                          <td>18,354.96 USD</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
                <tab heading="Send">
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Pay to </label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="e.g. 1Nasd92348hU984353hfid"
                          type="text"
                        />

                        <span class="form-text">
                          Please enter a valid address.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Amount </label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="1.587"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <button
                    class="btn btn-simple btn-danger btn-icon btn-round float-right"
                    type="submit"
                  >
                    <i class="tim-icons icon-send"> </i>
                  </button>
                </tab>
                <tab heading="News">
                  <div class="table-responsive">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header">Latest Crypto News</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>The Daily: Nexo to Pay on Stable...</td>
                        </tr>
                        <tr>
                          <td>Venezuela Begins Public of Nation...</td>
                        </tr>
                        <tr>
                          <td>PR: BitCanna â Dutch Blockchain...</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
              </tabset>
              <carousel [showIndicators]="true">
                <slide>
                  <img
                    alt="First slide"
                    class="d-block"
                    src="assets/img/denys.jpg"
                  />
  
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Big City Life, United States</h5>
                  </div>
                </slide>
                <slide>
                  <img
                    alt="Second slide"
                    class="d-block"
                    src="assets/img/fabien-bazanegue.jpg"
                  />
  
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Somewhere Beyond, United States</h5>
                  </div>
                </slide>
                <slide>
                  <img
                    alt="Third slide"
                    class="d-block"
                    src="assets/img/mark-finn.jpg"
                  />
  
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Stocks, United States</h5>
                  </div>
                </slide>
              </carousel>
            </div>
          </div>
        </div>