@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Roboto:wght@500&display=swap');
#contenedor {
    display: grid;
    grid-template-columns: 250px auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
}

.btn-secondary:focus {
    background-color: white !important;
    background-image: none !important;
}

.btn-secondary {
    border-color: #404040;
    color: #404040;
    border: 0.5px solid!important;
    background: white;
    border-color: #404040 !important;
}

.btn-secondary:hover {
    color: #404040 !important;
    background: white !important;
    border: 0.5px solid!important;
    border-radius: 10px !important;
    //border-color: #404040 !important;
    border: #404040 !important;
}

.btn-secondary:active {
    background: white !important;
}

.separador {
    width: 100%;
    margin-bottom: 50px;
    background: #40404079 !important;
    ;
}

.font {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    color: #bf9d82;
}

.color-tbody {
    background-color: #fff;
}

.tabla {
    padding: 50px;
    background-color: white !important;
}

.colorLetraOscura,
.colorLetraOscura>th,
.colorLetraOscura>td,
.ordenar>p,
.input-group-text {
    color: #404040;
    //margin-bottom: -9px;
}

tr>th {
    font-size: medium;
}

#paginacion {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boton {
    background: none;
    border: none;
    font-size: large;
    color: white;
}

#formulario {
    display: flex;
}

#ordenar {
    align-self: center;
}

#busqueda {
    justify-content: flex-end;
    display: flex;
}

#h4Personalizado {
    margin-bottom: 0;
}

.modal {
    scroll-behavior: auto;
    display: block;
    position: fixed;
    left: 0;
    right: 20px;
    backdrop-filter: blur(3px);
}

.modal-dialog{
    top: 20%;
}

#h1Personalizado {
    margin-bottom: 80px;
}

img {
    max-width: 3%;
    max-height: 3%;
}

.ordenar {
    display: flex;
    flex-direction: column;
}

p {
    font-size: medium;
    height: 12px;
    margin-left: 7px;
    margin-bottom: 7px;
}

#contenedor>section>table>thead>tr>th {
    margin: 0;
    width: max-content;
}

.linea {
    display: flex;
    align-items: center;
}

button.nav-link.btn.btn-primary {
    background: #BF9D82 !important;
}

button.nav-link.btn.btn-primary:hover {
    background: #c59168 !important;
}

.btn-danger {
    background: #ff4949 !important;
}

.btn-info {
    background: #49a89f !important;
    margin-right: 1rem;
}

p.iconoOrden {
    margin-bottom: -0.5px;
    cursor: pointer;
}

.pabajo {
    margin-bottom: 0.9 rem;
    cursor: pointer;
}

.ordenar {
    margin: 0px;
}

.col-sm-4 {
    flex: 0 0 20%;
}

.form-control {
    color: #404040;
}