<div class="wrapper">
    <div class="page-header">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="mobbler-box col-lg-6 col-md-6">
                        <img alt="mobbler-icon" src="assets/img/NOMBRE.png">
                        <div class="row">
                            <div class="col-lg-3">
                                <img alt="mobbler-logo" src="assets/img/favicon.png" class="img-fluid mobbler-logo" width="150" height="150">
                            </div>
                            <div class="col">
                                <p>Ayuda a tus clientes a decidir cómo diseñar sus habitaciones</p>
                            </div>
                        </div>
                    </div>

                    <!-- Registro -->
                    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                        <div class="background">
                            <div class="shape"></div>
                            <div class="shape"></div>
                        </div>
                        <form class="form" id="register-form" (ngSubmit)="register()" [formGroup]="registerForm">
                            <h3>Registro</h3>

                            <label for="username">Email (*)</label>
                            <input class="form-control" id="email" placeholder="Email" type="text" formControlName="email" required>
                            <alert [type]="'warning'" *ngIf="!campoValido('email')">
                                El campo 'E-mail' no es <strong style="color:red;">válido</strong>
                            </alert>

                            <label for="password">Contraseña (*)</label>
                            <input type="password" class="form-control" formControlName="password" id="password" placeholder="Contraseña" required>
                            <alert [type]="'warning'" *ngIf="!campoValido('password')">
                                El campo 'Contraseña' no es <strong style="color:red;">válido</strong>
                            </alert>

                            <label for="password2">Repite contraseña (*)</label>
                            <input type="password" class="form-control" formControlName="password2" id="password2" placeholder="Repite contraseña" required>
                            <alert [type]="'warning'" *ngIf="!campoValido('password2')">
                                El campo 'Repite contraseña' no es <strong style="color:red;">válido</strong>
                            </alert>
                            <alert [type]="'warning'" *ngIf="!noCoincide">
                                Las contraseñas no coinciden
                            </alert>

                            <label for="company">Nombre de la compañía</label>
                            <input type="text" class="form-control" formControlName="company" id="company" placeholder="Nombre de la compañía">
                            <alert [type]="'warning'" *ngIf="!campoValido('company')">
                                El campo no es <strong style="color:red;">válido</strong>
                            </alert>

                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                        Acepto los términos y condiciones
                                    <span class="form-check-sign"><span class="check"></span></span>
                                </label>
                                </div>
                            </div>
                            <button type="submit" form="register-form" class="btn btn-primary btn-neutral"><i class="fas fa-spinner fa-spin m-r-10" *ngIf="waiting"></i>Registrarse</button>
                            <!-- <div class="social">
                                <div class="go"><i class="fab fa-google"></i> Google</div>
                                <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
                            </div> -->

                            <div class="login">
                                <p>¿Ya tienes cuenta? <a [routerLink]="['/login']"><b>Inicia sesión</b></a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>