<footer class="footer-99382">
    <div class="container">
      <div class="row">
        <div class="col-md-4 pr-md-5">
          <h3 class="footer-site-logo d-block mb-4">Mobbler</h3>
          <p>Crea, Diseña, Visualiza</p>
        </div>
        <div class="col-md">
          <h3>Menu</h3>
          <ul class="list-unstyled nav-links">
            <li><a [routerLink]="['/landing']">Inicio</a></li>
            <li><a href="https://mobbler.ovh/coralteam/blog"> Blog </a></li>
            <!-- <li><a href="#">Registro</a></li>
            <li><a href="#">Services</a></li> -->
            <li><a href="https://mobbler.ovh/coralteam/#contacto">Contáctanos</a></li>
            <li><a href="https://mobbler.ovh/coralteam">Sobre nosotros</a></li>
          </ul>
        </div>
        <div class="col-md">
          <h3>Ayuda</h3>
          <ul class="list-unstyled nav-links">
            <li><a href="https://mobbler.ovh/coralteam/politica-de-privacidad/">Política de privacidad</a></li>
            <li><a href="https://mobbler.ovh/coralteam/politica-de-cookies/">Política de cookies</a></li>
            <li><a href="https://mobbler.ovh/coralteam/terminos-y-condiciones/">Términos &amp; Condiciones</a></li>
          </ul>
        </div>
        <div class="col-md">
          <h3>Síguenos</h3>
          <ul class="social list-unstyled">
            <li><a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.instagram.com/mobbler_abp" target="_blank">
                <i class="fab fa-instagram"> </i>
            </a></li>
            <li><a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://twitter.com/mobbler_abp" target="_blank">
                <i class="fab fa-twitter"> </i>
            </a></li>
            <li><a class="btn btn-icon btn-neutral btn-round btn-simple" href="https://www.youtube.com/channel/UCsCvyORvMg5NwWttadCTEPA" target="_blank">
                <i class="fab fa-youtube"> </i>
            </a></li>
          </ul>
        </div>
      </div> 
    </div>
  </footer>